In [43]:
import pandas as pd
import numpy as np

In [44]:
df = pd.DataFrame({
    "test": [1, 2, 3, 4, np.nan, np.inf, 7],
    "test2": [7, 5, np.inf, 3, 2, np.nan, 1]
})

In [45]:
df

   test  test2
0   1.0    7.0
1   2.0    5.0
2   3.0    inf
3   4.0    3.0
4   NaN    2.0
5   inf    NaN
6   7.0    1.0

In [46]:
df = df.replace([np.inf, -np.inf], np.nan)
df = df.dropna()

In [47]:
df

   test  test2
0   1.0    7.0
1   2.0    5.0
3   4.0    3.0
6   7.0    1.0

In [37]:
import numpy as np
x = np.load("x.npy")
y = np.load("y.npy")
print(x.shape, y.shape)

TypeError: 'float' object cannot be interpreted as an integer